<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caixakioske">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mesas"/>
        <activity android:name=".Pedidos" />
        <activity android:name=".Kioske" />
        <activity android:name=".Comidas" />
        <activity android:name=".Categorias" />
        <activity android:name=".Telas_Cadastros.CadastroMesa" />
        <activity android:name=".Bebidas" />
        <activity android:name=".Produtos" />
        <activity android:name=".Telas_Cadastros.CadastroProduto" />
        <activity android:name=".PainelGarcom" />
        <activity android:name=".PainelAdmin" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Telas_Cadastros.CadastroUsuario" />
    </application>

</manifest>